body{
    background-color:rgb(30, 30, 30);
  }
  #body {
    margin: 0 auto;
    max-width: 60em;
  }
  .logo {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
  }
  .title {
    text-align: center;
    color: white;
    font-size: 300%;
  
  }
  .intro {
    color: rgb(255, 255, 255);
    font-size: 150%;
  }
  .subhead {
    font-family: sans-serif;
    color:white;
    font-size: 220%;
  }
  .list-head {
    font-family: sans-serif;
    color: white;
    font-size: 180%;
  }
  .list {
    color: rgb(19, 243, 243);
    list-style-type:square;
    font-family:courier;
    font-size: 150%;
  }
  .social {
    color:white;
    font-size: 150%;
  }
  a:Link {
    color: rgb(8, 202, 245);
    text-decoration:none;
      }
  a:visited{
    color:purple;
    }
  a:hover {
    color: rgb(0, 255, 255);
    background-color: transparent;
    text-decoration:none;
    text-decoration: underline;
    }
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration:none;
    text-decoration: underline;
      }
  
  .nav-back {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111111;
  }
  .nav:hover {
    
    background-color: #333333;
  }
  .nav {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 150%;
    float:right;
  }
  
  
  
  
  
  
  /* .fa {
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  } */
  
  